body {
    font-family: sans-serif;
}

h1 {
    font-family: 'Passion One', sans-serif;
    font-weight: normal;
    font-size: 3em;
}

.card {
    width: 160px;
    height: 90px;
    color: white;
    text-shadow: 0px 0px 6px black;
    font-size: 2em;
    font-weight: bold;
    background-color: #eee;
    color: white !important;
}

.card.r,
td.r {
    background-color: #ee474b;
}

.card.b,
td.b {
    background-color: #3094b7;
}

.card.x,
td.x {
    background-color: #393834;
}

.card.o,
td.o {
    background-color: #d8cc98;
}

.r {
    color: red;
}

.b {
    color: blue;
}

#output {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40%;
    height: 100%;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}

#output .clue {
    list-style-type: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#key-map {
    border-collapse: collapse;
    margin: 1em;
    position: absolute;
    top: 0px;
    right: 0px;
}

td {
    border: 1px solid black;
    padding: 0.5em;
    color: white !important;
    text-shadow: 0px 0px 4px black;
}
